body {
    text-align: center;
    background-color: rgb(190, 190, 237);
}
hr {
    border: 1px solid black;
}
p {
    font-size: 28px;
}
.heading {
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

.action-button {
    padding: 20px;
    font-size: 70px;
    margin: 20px;
    border: black solid 2px;
    border-radius: 70px;
    background-color: grey;
    transition: opacity,scale 0.15s;
}
.action-button:hover {
    scale: 1.2;
}
.action-button:active {
    scale: 1.2;
    opacity: 0.5;
}



.choice-container{
    display: flex;
}
.choice {
    flex: 100px;
}